<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>

      <p>Date local: {{heureActuel | async | date: 'short' | uppercase}}</p>
       <ul class="list-group">

         <app-appareil *ngFor="let appareil of appareils; let i = index"
          [indexOfAppareil]="i"
          [appareilName]="appareil.name"
          [appareilStatus]="appareil.status">
        </app-appareil>

       </ul>
       <button style="background-color: green;border-radius: 3px;font-weight: 600;margin-right: 2%;" class="btn btn-succes" [disabled]="!isAuth" (click)="onAllume()">TOUT ALLUMER</button>

       <button style="background-color: red;border-radius: 3px;font-weight: 600;" class="btn btn-danger" (click)="onEteindre()">TOUT ETEINDRE</button>
    </div>
  </div>
</div>

